In [2]:
import infixpy as fix
import pandas as pd

In [ ]:
https://stackoverflow.com/questions/49001986/left-to-right-application-of-operations-on-a-list-in-python-3

https://stackoverflow.com/questions/49001986/left-to-right-application-of-operations-on-a-list-in-python-3

In [ ]:
# need to explore pyxtension

In [3]:
from pyxtension.streams import stream

a = stream(range(1, 50)) \
    .map(lambda _: _ * 4) \
    .filter(lambda _: _ <= 170) \
    .filter(lambda _: len(str(_)) == 2) \
    .filter(lambda _: _ % 20 == 0) \
    .enumerate() \
    .map(lambda n_x: f"Result[{n_x[0]}]={n_x[1]}") \
    .mkString("  .. ")

a

'Result[0]=20  .. Result[1]=40  .. Result[2]=60  .. Result[3]=80'

In [ ]:
https://pypi.org/project/infixpy/
https://stackoverflow.com/questions/18294534/is-there-a-foreach-function-in-python-3
https://medium.com/@matthagy/introducing-scalaps-scala-inspired-data-structures-for-python-53f3afc8696
https://github.com/matthagy/scalaps/blob/master/examples/seq_func.py
https://github.com/matthagy/career_village_entities

In [3]:
print(dir(fix))

['Any', 'Callable', 'CallableTypes', 'Counter', 'IDict', 'IFrozenList', 'IList', 'Iterable', 'IterableMixin', 'ListMixin', 'NoneType', 'Seq', 'StrMixin', 'Union', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'chain', 'copy', 'defaultdict', 'deque', 'get_callable', 'identity', 'np', 'operator', 'reduce']

In [4]:
(fix
.Seq(range(1,51))
.map(lambda x: x * 4)
.filter(lambda x: x <= 170)
.filter(lambda x: len(str(x)) == 2)
.filter( lambda x: x % 20 == 0)
.enumerate()
.map(lambda x: 'Result[%d]=%s' %(x[0],x[1]))
.mkstring(' .. ')
)

"'Result[0]=20' .. 'Result[1]=40' .. 'Result[2]=60' .. 'Result[3]=80'"

In [5]:
(fix
 .Seq(range(10))
 .map(lambda x: x+3)
 .filter(lambda x: x%2==0)
 .groupby(lambda x: x%3)
 .keys()
 .foreach(print))

1
0
2

In [14]:
def taco(num):
    (fix
     .Seq(range(num))
     .map(lambda x: x+3)
     .filter(lambda x: x%2==0)
     .groupby(lambda x: x%3)
     .keys()
     .foreach(print)
    )

taco(4)

1
0

In [116]:
# attempting the same changes using pandas series

# convert list to series 
(pd.Index([x for x in range(1,51)])
.to_series()
.map(lambda x: x * 4)                              # or apply() 
.where(lambda x: x <= 170).dropna().astype('int') 
# .where(lambda x: len(x) == 2)
     # .filter( lambda x: x % 20 == 0)
     # .enumerate()
     # # .map(lambda x: 'Result[%d]=%s' %(x[0],x[1]))
     # .mkstring(' .. ')
)

1       4
2       8
3      12
4      16
5      20
6      24
7      28
8      32
9      36
10     40
11     44
12     48
13     52
14     56
15     60
16     64
17     68
18     72
19     76
20     80
21     84
22     88
23     92
24     96
25    100
26    104
27    108
28    112
29    116
30    120
31    124
32    128
33    132
34    136
35    140
36    144
37    148
38    152
39    156
40    160
41    164
42    168
dtype: int64