# List Comprehension

https://www.programiz.com/python-programming/dictionary-comprehension
https://sites.pitt.edu/~naraehan/python3/list_comprehension.html

[expression for item in iterable if condition == True]

In [73]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Modifying a list

In [136]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[round(number/3) for number in numbers]

[0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

#### For Loop Comparison

In [137]:
square_numbers = []
for num in numbers:
    square_numbers.append(round(num/3))
    
square_numbers

[0, 1, 1, 1, 2, 2, 2, 3, 3, 3]

#### More list Modifications

In [138]:
words = ['car', 'house', 'plant', 'fisherman', 'picnic', 'rodeo']

print([x.replace('a', 'A') for x in words])
print('')

print([x.capitalize() for x in words])

['cAr', 'house', 'plAnt', 'fishermAn', 'picnic', 'rodeo']

['Car', 'House', 'Plant', 'Fisherman', 'Picnic', 'Rodeo']

#### Filtering a list

#### Using if

In [120]:
[x for x in numbers if x % 2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
# with an OR condition 
[x for x in numbers if x % 2 == 0 or x % 3 == 0]

#### Using if-else

[expression if condition else expression for item in iterable]

In [75]:
[x if x % 2 == 0 else 99 for x in numbers]

[99, 2, 99, 4, 99, 6, 99, 8, 99, 10]

In [77]:
[str(x) if x % 2 == 0 else 'poop' for x in numbers]

['poop', '2', 'poop', '4', 'poop', '6', 'poop', '8', 'poop', '10']

#### Multiple if-else

In [113]:
# it's easier to read over multiple lines
["Even" if num % 2 == 0 else 
 "Odd"  if num % 3 == 0 else num 
for num in numbers]

[1, 'Even', 'Odd', 'Even', 5, 'Even', 7, 'Even', 'Odd', 'Even']

In [114]:
level = ['low' if num <=3 else 
         'mid' if num <=7 else 'high' 
         for num in numbers]

list(zip(level,numbers))

[('low', 1),
 ('low', 2),
 ('low', 3),
 ('mid', 4),
 ('mid', 5),
 ('mid', 6),
 ('mid', 7),
 ('high', 8),
 ('high', 9),
 ('high', 10)]

#### Nested List Comprehensions

[[expression for item in iterable] for inner_iterable in outer_iterable]

In [121]:
words = ['car', 'house', 'plant', 'fisherman', 'picnic', 'rodeo']
vowels = ['a', 'e', 'i', 'o', 'u']

[''.join([letter for letter in word if letter not in vowels]) for word in words]

['cr', 'hs', 'plnt', 'fshrmn', 'pcnc', 'rd']

In [125]:
# NOTE: the list comprehension above does the same thing as this for loop

new_words = []
for word in words:
    vowels = ['a', 'e', 'i', 'o', 'u']
    for letter in word:
        if letter in vowels:
            word = word.replace(letter, '')
    new_words.append(word)

new_words

['cr', 'hs', 'plnt', 'fshrmn', 'pcnc', 'rd']

#### using a dict

In [115]:
d = {1: 'yes', 2: 'no'}
[d.get(x, 'idle') for x in numbers]

['yes', 'no', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle']

## dict comprehensions

dictionary = {key: value for vars in iterable}

#### make dict from list

In [148]:
{num: num**3 for num in range(1, 11)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [153]:
numbers = list(range(3))
words   = ['one', 'two', 'three']

{num: words[num] for num in numbers}

{0: 'one', 1: 'two', 2: 'three'}

In [159]:
# Lists to represent keys and values
keys = ['a','b','c','d','e']
values = [1,2,3,4,5]  

# but this line shows dict comprehension here  
print( { k:v for (k,v) in zip(keys, values)}  )

dict(zip(keys, values))  # We can use below too

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

#### updating a dict

In [155]:
#item price in dollars
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

dollar_to_pound = 0.76

{item: value*dollar_to_pound for (item, value) in old_price.items()}

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

In [161]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

{k: v for (k, v) in original_dict.items() if v % 2 == 0}

{'jack': 38, 'michael': 48}

#### Multiple if-else filtering

In [163]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

{k: v for (k, v) in original_dict.items() if v % 2 != 0 if v < 40}

{'john': 33}

#### if-else updating values

In [164]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

{k: ('old' if v > 40 else 'young')
    for (k, v) in original_dict.items()}

{'jack': 'young', 'michael': 'old', 'guido': 'old', 'john': 'young'}

#### Nested Dictionary with Two Dictionary Comprehensions

In [165]:
{k1: {k2: k1 * k2 for k2 in range(1, 6)} for k1 in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

# Lambdas

#### Iterating With Python Lambdas

In [60]:
# list of numbers 
nums = [4, 2, 13, 21, 5] 

# square of all numbers
list(map(lambda v: v ** 2, nums))

[16, 4, 169, 441, 25]

In [55]:
# list of square of odd numbers 
# lambda function is used to iterate over list nums 
# filter is used to find odd numbers 
list(map(lambda v: v ** 2, filter(lambda u: u % 2, nums)))

[169, 441, 25]

In [173]:
l = lambda x: [x * 3 for x in x]
l(list(range(3)))

[0, 3, 6]

In [174]:
yarr = lambda x: list(map(lambda x: x ** 2, x))
yarr(nums)

[16, 4, 169, 441, 25]

In [170]:
# bit of an odd way to do it, since it does not allow an object to be passed
# meaning that nums is hard coded 
l = lambda : [x * 3 for x in nums]
l()

[12, 6, 39, 63, 15]