In [136]:
import pandas as pd 
import numpy as np
import sklearn as sk
from plotnine import *
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
# feature ideas 

# receny: days since last transaction 

# frequency: avg days between transactions 

# magnitude: total trx volumne, multi trx per day 

# are they declining in trx feqency?

### Load, Check, and Prepare Data

In [58]:
raw_collection_activity_df = pd.read_csv('/Users/andrewtynan/Downloads/Zora/collection_activity.csv')
raw_collectors_df = pd.read_csv('/Users/andrewtynan/Downloads/Zora/collectors.csv')

In [87]:
print(raw_collection_activity_df.shape)
print(raw_collectors_df.shape)

(645212, 9)
(1000, 11)

In [66]:
print(raw_collection_activity_df.isnull().sum()) 

print(raw_collectors_df.isnull().sum() ) 

print("There are nulls in many fields, and they appear somewhat random.") 
print("\n")

raw_collection_activity_df.query('wallet_address.isnull()', engine='python').head(2)

wallet_address        32261
date                  32261
file_type             32261
token_id              32261
collection_address    32261
chain_name            32261
number_collected      32261
commented             32261
creator               32261
dtype: int64
wallet_address          0
account_created_at      0
username                0
display_name            0
bio                     0
linked_farcaster        0
linked_instagram        0
linked_twitter          0
country                 0
referral_source         0
churned_at_date       700
dtype: int64
There are nulls in many fields, and they appear somewhat random.

,wallet_address,date,file_type,token_id,collection_address,chain_name,number_collected,commented,creator
54,NaN,2024-06-26,audio,NaN,0xad52567684643633cb3d6c55e592aaf784ea2ead,Ethereum,249.0,False,0xcc5fc633d5e61419b053cc0f31ec019b63543640
57,NaN,2024-06-27,NaN,280.0,0x5b1fe1ff06aee00d3a95ffff9f2c11fd128b357b,Arbitrum,751.0,False,0xf04c043d09b6c3f56079a5e48039c52a73b5eb08

In [3]:
raw_collection_activity_df.shape

(645212, 9)

In [31]:
# raw_collection_activity_df.head(2)
# raw_collectors_df.head(2)

In [73]:
# raw_collectors_df.dtypes

In [74]:
collection_activity_df = (raw_collection_activity_df
                         .assign(wallet_address     = lambda df_:df_.wallet_address.astype('object'),
                                 date               = lambda df_:df_.date.astype('datetime64[ns]'),
                                 file_type          = lambda df_:df_.file_type.astype('category'),
                                 token_id           = lambda df_:df_.token_id.astype('float64'),
                                 collection_address = lambda df_:df_.collection_address.astype('object'),
                                 chain_name         = lambda df_:df_.chain_name.astype('category'),
                                 number_collected   = lambda df_:df_.number_collected.astype('float64'),
                                 commented          = lambda df_:df_.commented.astype('bool'),
                                 creator            = lambda df_:df_.creator.astype('object')))

In [75]:
collectors_df = (raw_collectors_df
                 .assign(wallet_address     = lambda df_:df_.wallet_address.astype('object'),
                         account_created_at = lambda df_:df_.account_created_at.astype('datetime64[ns]'),
                         username           = lambda df_:df_.username.astype('object'),   
                         display_name       = lambda df_:df_.display_name.astype('object'),  
                         bio                = lambda df_:df_.bio.astype('object'), 
                         linked_farcaster   = lambda df_:df_.linked_farcaster.astype('bool'),    
                         linked_instagram   = lambda df_:df_.linked_instagram.astype('bool'),    
                         linked_twitter     = lambda df_:df_.linked_twitter.astype('bool'),    
                         country            = lambda df_:df_.country.astype('category'),  
                         referral_source    = lambda df_:df_.referral_source.astype('category'),  
                         churned_at_date    = lambda df_:df_.churned_at_date.astype('datetime64[ns]'),
                         is_churned         = lambda x: np.where(x.churned_at_date == x.churned_at_date, 'Yes', 'No')))

In [79]:
df = pd.merge(collection_activity_df, collectors_df, how='left', on='wallet_address')

print("Check that rows were not dropped.") 
print(f" Looks good, still seeing {df.shape[0]} rows.")
print("\n")

print("The collection activity data appears to be missing some user info.") 
print(f" There are {df['username'].isnull().sum()} rows with missing username.")
print("\n")

print(f"The collection data has {645212 - 32261} rows with the username.")

Check that rows were not dropped.
 Looks good, still seeing 645212 rows.


The collection activity data appears to be missing some user info.
 There are 32261 rows with missing username.


The collection data has 612951 rows with the username.

In [80]:
print("Here we can see the nulls by column.")
print( df.isnull().sum() ) 
df.query('wallet_address.isnull()', engine='python').head(2)

Here we can see the nulls by column.
wallet_address         32261
date                   32261
file_type              32261
token_id               32261
collection_address     32261
chain_name             32261
number_collected       32261
commented                  0
creator                32261
account_created_at     32261
username               32261
display_name           32261
bio                    32261
linked_farcaster       32261
linked_instagram       32261
linked_twitter         32261
country                32261
referral_source        32261
churned_at_date       460727
is_churned             32261
dtype: int64

,wallet_address,date,file_type,token_id,collection_address,chain_name,number_collected,commented,creator,account_created_at,username,display_name,bio,linked_farcaster,linked_instagram,linked_twitter,country,referral_source,churned_at_date,is_churned
54,NaN,2024-06-26,audio,NaN,0xad52567684643633cb3d6c55e592aaf784ea2ead,Ethereum,249.0,False,0xcc5fc633d5e61419b053cc0f31ec019b63543640,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
57,NaN,2024-06-27,NaN,280.0,0x5b1fe1ff06aee00d3a95ffff9f2c11fd128b357b,Arbitrum,751.0,False,0xf04c043d09b6c3f56079a5e48039c52a73b5eb08,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

### Feature Extraction

## Create Aggregate Engagement Features

In [140]:
if 'features_df' in globals(): del(features_df) 

date_features_df = (df 
              .groupby('wallet_address')
              .agg(date_count    = ('date', 'count'),  # nulls will impact this .. 
                   unique_dates  = ('date', 'nunique'),
                   min_date      = ('date','min'),
                   max_date      = ('date','max'),
                   creator_count = ('creator','nunique'))
              .reset_index())  

print(date_features_df.shape)

features_df = pd.merge(collectors_df, date_features_df, how='left', on='wallet_address')

print(features_df.shape)

features_df.head(2)

(1000, 6)
(1000, 17)

,wallet_address,account_created_at,username,display_name,bio,linked_farcaster,linked_instagram,linked_twitter,country,referral_source,churned_at_date,is_churned,date_count,unique_dates,min_date,max_date,creator_count
0,0x8a01f2c0996ee0dd880d3d5a5ac0ce745fb96843,2023-03-22 15:52:20,ayvkndln,Ayvkndln Xfold,Digital artist exploring the blockchain.,True,False,False,USA,discord,2024-09-15,Yes,172,68,2023-09-04,2024-09-15,177
1,0xfe49c8e5bd5ec505b405df0e313a8981f5ba7f38,2023-11-22 15:52:20,yvrqfwrw,Yvrqfwrw,Building the future with NFTs.,True,False,False,USA,discord,NaT,No,569,179,2023-09-01,2024-09-15,576

#### Chain Events
###### Get the counts of events by chain per wallet

In [141]:
if 'wallet_address_df' in globals(): del(wallet_address_df) 

wallet_address_df = pd.DataFrame(df.wallet_address.unique()).rename(columns = {0: 'wallet_address'})

In [142]:
if 'wallet_chain_use_df' in globals(): del(wallet_chain_use_df) 

chains = list(df.dropna().chain_name.unique())
results = {} 

for chain in chains:
    chain_filter = chain
    agg = (df
           .query("chain_name == @chain_filter")
           .groupby('wallet_address')
           .agg(chain_count = ('chain_name', 'count'))
           .reset_index())
    
    results[chain] = agg 

for chain in results:
    new_name = chain.lower() + '_count' 
    chain_results_df = results[chain].rename(columns = {'chain_count': new_name}) 

    if 'wallet_chain_use_df' in globals():
        wallet_chain_use_df = pd.merge(wallet_chain_use_df, chain_results_df, how='left', on='wallet_address') 
    else:
        wallet_chain_use_df = pd.merge(wallet_address_df, chain_results_df, how='left', on='wallet_address') 

del(results)

wallet_chain_use_df = (wallet_chain_use_df
                       .query('wallet_address.notnull()', engine='python'))

print(wallet_chain_use_df.shape)

features_df = pd.merge(features_df, wallet_chain_use_df, how='left', on='wallet_address')

del(wallet_chain_use_df)

print(features_df.shape)

features_df.head(2)

(1000, 5)
(1000, 21)

,wallet_address,account_created_at,username,display_name,bio,linked_farcaster,linked_instagram,linked_twitter,country,referral_source,churned_at_date,is_churned,date_count,unique_dates,min_date,max_date,creator_count,base_count,zora_count,arbitrum_count,ethereum_count
0,0x8a01f2c0996ee0dd880d3d5a5ac0ce745fb96843,2023-03-22 15:52:20,ayvkndln,Ayvkndln Xfold,Digital artist exploring the blockchain.,True,False,False,USA,discord,2024-09-15,Yes,172,68,2023-09-04,2024-09-15,177,34.0,54.0,48.0,38.0
1,0xfe49c8e5bd5ec505b405df0e313a8981f5ba7f38,2023-11-22 15:52:20,yvrqfwrw,Yvrqfwrw,Building the future with NFTs.,True,False,False,USA,discord,NaT,No,569,179,2023-09-01,2024-09-15,576,133.0,163.0,123.0,154.0

#### File Type Events
###### Get the counts of events by file type per wallet

In [143]:
if 'file_type_use_df' in globals(): del(file_type_use_df) 

file_types = list(df.dropna().file_type.unique())
results = {} 

for file_type in file_types:
    file_filter = file_type
    agg = (df
         .query("file_type == @file_filter")
         .groupby('wallet_address')
         .agg(file_type_count = ('file_type', 'count'))
         .reset_index())
    
    results[file_type] = agg 

for file_type in results:
    new_name = file_type.lower() + '_count' 
    file_type_results_df = results[file_type].rename(columns = {'file_type_count': new_name}) 

    if 'file_type_use_df' in globals():
        file_type_use_df = pd.merge(file_type_use_df, file_type_results_df, how='left', on='wallet_address') 
    else:
        file_type_use_df = pd.merge(wallet_address_df, file_type_results_df, how='left', on='wallet_address') 

del(results)

file_type_use_df = (file_type_use_df
                       .query('wallet_address.notnull()', engine='python'))

print(file_type_use_df.shape)

features_df = pd.merge(features_df, file_type_use_df, how='left', on='wallet_address')

del(file_type_use_df)

print(features_df.shape)

features_df.head(2)

(1000, 5)
(1000, 25)

,wallet_address,account_created_at,username,display_name,bio,linked_farcaster,linked_instagram,linked_twitter,country,referral_source,churned_at_date,is_churned,date_count,unique_dates,min_date,max_date,creator_count,base_count,zora_count,arbitrum_count,ethereum_count,video_count,audio_count,gif_count,image_count
0,0x8a01f2c0996ee0dd880d3d5a5ac0ce745fb96843,2023-03-22 15:52:20,ayvkndln,Ayvkndln Xfold,Digital artist exploring the blockchain.,True,False,False,USA,discord,2024-09-15,Yes,172,68,2023-09-04,2024-09-15,177,34.0,54.0,48.0,38.0,56.0,46.0,37.0,35.0
1,0xfe49c8e5bd5ec505b405df0e313a8981f5ba7f38,2023-11-22 15:52:20,yvrqfwrw,Yvrqfwrw,Building the future with NFTs.,True,False,False,USA,discord,NaT,No,569,179,2023-09-01,2024-09-15,576,133.0,163.0,123.0,154.0,147.0,133.0,151.0,145.0

## High Level Summary

#####

### NOTE: bring in the churn variable and update the reporting below adding % churn

In [148]:
social_vars = ['linked_farcaster', 'linked_instagram', 'linked_twitter', 'country',	'referral_source']

for var in social_vars: 

    df = (raw_collectors_df
        .groupby(['is_churned', var])
        ['wallet_address']
        .count()
        .reset_index()
        .rename(columns = {'wallet_address': 'wallet_address_count'}) 
        .assign(percent = lambda x: x.groupby('is_churned')['wallet_address_count'].transform(lambda y: (1. * y / y.sum()).round(2)) ))

    print(df) 
    print("\n")

KeyError: 'is_churned'